@font-face {
  font-family: 'norsebold';
  src: url('Norse-Bold.otf') format('opentype');
}

* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  margin: 0;
}

#container {
  display: flex;
  height: 100vh;
  width: 70vw;
  margin: 0 auto;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-image: url(fern.jpg);
  background-size: cover;
  word-spacing: .2rem;
}

.leftSide a {
  color: #c0c0c0;
}

.leftSide a:hover {
  color: #fff;
  text-decoration: none;
}

img {
  width: 6vw;
}

.logo {
  display: flex;
  align-items: center;
  background-color: #0008;
  margin-top: 12rem;
  font-family: norsebold;
  font-size: 8rem;
  padding: 1rem 8rem;
}

.logo p {
  padding: 0;
  margin: 0;
}

.rightSide {
  align-content: center;
  padding: 0;
  background-color: #eee;
}

.disclaimer {
  font-size: 1.5vw;
  font-weight: bold;
  padding: 30px;
}

.emph {
  font-style: italic;
}

fieldset {
  margin: 0;
  border: 0;
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 0 .2rem .3rem -.1rem #aaa;
}

fieldset h2 {
  padding: 0;
  margin: 0;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 15px 0;
}

label {
  font-size: .8rem;
  font-weight: bold;
}

input {
  font-size: 1.3rem;
  border-radius: 5px;
  padding: 7px;
  max-width: 75%;
  margin-top: 2px;
  background-color: #eee7;
  border: 1px solid lightgray;
  box-shadow: none;
}

input:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 2px 2px 5px lightgray, inset 0 0 5px lightgray;
}

input:invalid {
  border: 1px solid red;
}

.pwMsg,
.cpwMsg {
  margin-top: 4px;
  font-size: 0.8rem;
  color: red;
}

.good {
  color: green;
}

button {
  background-color: #596d48aa;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 1vw;
  border: none;
  margin: 30px;
}

button+p {
  margin: 0 30px;
}

button+p a {
  color: #596d48;
  text-decoration: none;
  font-weight: bold;
}

button+p a:hover {
  color: #596d48aa;
  text-decoration: underline;
}

button:hover {
  background-color: #596d48;
  cursor: pointer;
}

/* Fieldset is styled to be a different color */
/* Button under styled fieldset still part of the form */